{% extends "eduquest_app/base.html" %}
{% load i18n %}
{% block title %} {% trans "Confirm profile deletion" %} | EduQuest{% endblock %}

{% block content %}
  <div class="one-column">
    <h2>{% trans "Confirm deletion" %}</h2>
    <p>
      {% trans "Are you sure you want to delete the account for child" %}
      <strong>{{ child.username }}</strong>? {% trans "This action cannot be undone." %}
    </p>

    <div class="d-flex flex-column align-items-center gap-2">
      <form method="POST">
        {% csrf_token %}
        <button class="btn btn-danger">{% trans "Yes, delete" %}</button>
      </form>

      <a href="{% url 'manage-child-profile' child.id %}">
        <button class="btn btn-outline-secondary">{% trans "Cancel" %}</button>
      </a>
    </div>
  </div>
{% endblock %}
