{% extends "eduquest_app/base.html" %}

{% block content %}
    <h2>Manage Child's Profile</h2>

    <p>
        <strong>Username:</strong> {{ child.username }}
        <a href="{% url 'child-username-update' child_id=child.id %}">
            <button type="button" style="margin-left: 10px;">Update</button>
        </a>
    </p>

    <p><strong>Role:</strong> {{ child.role }} </p>

    <p>
        <strong>Password:</strong> ********
        <a href="{% url 'child-password-update' child_id=child.id %}">
            <button type="button" style="margin-left: 10px;">Update</button>
        </a>
    </p>

    <a href="{% url 'delete-child-profile-confirmation' child.id %}">
        <button type="button" style="background-color: red; color: white;">Delete profile</button>
    </a>

    <h3>Preferences</h3>
    {% if child.grade %}
        <p><strong>Grade:</strong> {{ child.grade }}</p>
    {% else %}
        <p>Grade not set.</p>
    {% endif %}

    {% if preferences %}
        <ul>
            {% for preference in preferences %}
                <li><strong>{{ preference.subject.name }}</strong> — Difficulty: {{ preference.get_difficulty_display }}</li>
            {% endfor %}
        </ul>
        <a href="{% url 'preferences-update' child.id %}">
            <button type="button">Change preferences</button>
        </a>
    {% else %}
        <p>No preferences set or all marked as "Not applicable".</p>
    {% endif %}

    <h3>Reward</h3>
    {% if reward %}
        {% widthratio earned_points reward.points_required 100 as percent %}
        <div class="mb-4 max-w-md">
            <p><strong>Reward:</strong> {{ reward.name }}</p>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar"
                    style="width: {{ percent }}%; min-width: 50px;"
                    aria-valuenow="{{ earned_points }}"
                    aria-valuemin="0"
                    aria-valuemax="{{ reward.points_required }}">
                    {{ earned_points }} / {{ reward.points_required }} pkt
                </div>
            </div>

            {% if reward_achieved %}
                <div class="alert alert-info mt-2">
                    🎉 Reward achieved! Click below to mark it as claimed.
                </div>
                <a href="{% url 'reward-claim' child.id reward.id %}" class="btn btn-primary mt-2">
                    Claim & Deactivate
                </a>
            {% endif %}
        </div>
    {% else %}
        <p>No active reward.</p>
        <a href="{% url 'reward-create' child.id %}">Add a new one</a>
    {% endif %}

    <h3>Tasks</h3>
        {% if tasks %}
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Subject</th>
                        <th>Description</th>
                        <th>Due Date</th>
                        <th>Time</th>
                        <th>Status</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.title }}</td>
                            <td>{{ task.subject }}</td>
                            <td>{{ task.description|default_if_none:"No description"|truncatechars:5 }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ task.time }} min</td>
                            <td>{{ task.status }}</td>
                            <td>{{ task.points }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>This child has no tasks.</p>
        {% endif %}

    <a href="{% url 'profile' %}">
        <button type="button">Back</button>
    </a>
{% endblock %}
