{% extends "eduquest_app/base.html" %}

{% block content %}
    <h2>User's profile</h2>
    <p><strong>Username:</strong> {{ username }}</p>
    <a href="{% url 'manage-parent-profile' %}">
        <button type="button">Manage profile</button>
    </a>

    {% if role == 'Parent' %}
        <h3>Your children:</h3>

         <a href="{% url 'add-child-user' %}">
            <button type="button">Add child's account</button>
        </a>

        {% if has_children_without_preferences %}
            <div style="color: red; font-weight: bold; margin-bottom: 15px;">
                One or more children don't have preferences set yet!
            </div>
        {% endif %}

        {% if children_data %}
            <ul>
                {% for item in children_data %}
                    <li>
                        <strong>{{ item.child.username }}</strong>
                        <a href="{% url 'manage-child-profile' item.child.id %}">
                            <button type="button">Manage account</button>
                        </a>
                        {% if not item.has_preference %}
                            — <span style="color: red;">Preferences not set!</span>
                            <a href="{% url 'set-preference' item.child.id %}">
                                <button type="button">Set preferences</button>
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You don't have any children registered yet.</p>
        {% endif %}
    {% endif %}
{% endblock %}
