{% extends "eduquest_app/base.html" %}
{% load i18n %}
{% block title %} {% trans "Parent profile" %} | EduQuest{% endblock %}


{% block content %}
  <div class="centered-content">
    <div class="two-column-row">
      <div class="left-column">
        <h2 class="manage-title">{% trans "Your profile" %}</h2>
        <p><strong>{% trans "Username" %}:</strong> {{ username }}</p>

        <div class="dropdown">
          <button class="tn btn-secondary dropdown-toggle" type="button" id="manageProfileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            {% trans "Manage Profile" %}
          </button>
          <ul class="dropdown-menu" aria-labelledby="manageProfileDropdown">
            <li>
              <span><strong>{% trans "Username" %}:</strong> {{ user.username }}</span>
              <form action="{% url 'parent-username-update' %}" method="get" style="margin: 0;">
                <button class="btn btn-outline-primary">{% trans "Update" %}</button>
              </form>
            </li>
            <li>
              <strong>{% trans "Role" %}:</strong> {{ user.get_role_display }}
            </li>
            <li>
              <span><strong>{% trans "Email" %}:</strong> {{ user.email }}</span>
              <form action="{% url 'email-update' %}" method="get" style="margin: 0;">
                <button type="submit" class="btn btn-outline-primary">{% trans "Update" %}</button>
              </form>
            </li>
            <li>
              <span><strong>{% trans "Password" %}:</strong> ********</span>
              <form action="{% url 'parent-password-update' %}" method="get" style="margin: 0;">
                <button type="submit" class="btn btn-outline-primary">{% trans "Update" %}</button>
              </form>
            </li>
            <li>
              <form action="{% url 'delete-parent-profile-confirmation' %}" method="get" style="margin: 0;">
                <button type="submit" class="btn btn-danger">{% trans "Delete my profile" %}</button>
              </form>
            </li>
          </ul>

        </div>
      </div>

      <div class="vl"></div>

      <div class="right-column">
        {% if role == 'Parent' %}
          <h2 class="manage-title">{% trans "Your children's profiles" %}</h2>

          <div>
            <form action="{% url 'add-child-user' %}" method="get" style="display: inline;">
              <button type="submit" class="btn btn-warning">{% trans "Add profile" %}</button>
            </form>
          </div>

          {% if has_children_without_preferences %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" id="preference-message">
              {% trans "One or more children don't have preferences set yet!" %}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endif %}

          {% if children_data %}
            <ul class="children-list">
              {% for item in children_data %}
                <li style="margin-bottom: 1rem;">
                  <strong>{{ item.child.username }}</strong>

                  {% if item.has_preference %}
                    <form action="{% url 'manage-child-profile' item.child.id %}" method="get" style="display: inline;">
                      <button type="submit" class="btn btn-secondary ms-2">{% trans "Manage profile" %}</button>
                    </form>
                  {% else %}
                    <form action="{% url 'set-preference' item.child.id %}" method="get" style="display: inline;">
                      <button type="submit" class="btn btn-danger ms-2">{% trans "Set preferences" %}</button>
                    </form>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <p>{% trans "You haven't added any child profiles yet." %}</p>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
